@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap%27');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#startScreen{
    background-color: black;
    transition: .3s all ease-in-out;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 5;
}

#gameScreen{
    position: fixed;
    left: 0vw;
    height: 100%;
    width: 100%;
    z-index:-5;
    display: grid;
    place-items: center;
}

#svg-container{
    position: absolute;
    top: 50%;
    right: 5rem;
    fill: yellow;
}

#lyn{
    fill: yellow;
}
/* 
canvas{
    z-index: -5 ;
} */

.points1{
    z-index: 5;
    color: red;
    font-size: 3rem;
    font-family: 'neontubes';
    transition: all .3 ease-in-out;
    position: absolute;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 50px #ff003c, 0 0 1000px #ff003c;
}
.points2{
    z-index: 5;
    font-size: 3rem;
    font-family: 'neontubes';
    color: blue;
    transition: all .3 ease-in-out;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 50px #2695ff;
}

#LefT{
    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: rotate(90deg);
}
#LefB{
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    transform: rotate(90deg);
}
#RigT{
    position: absolute;
    top: 3rem;
    right: 3rem;
    transform: rotate(-90deg);
    
}
#RigB{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    transform: rotate(-90deg);
}

#blackTone{
    transition: .3s all ease-in-out;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0%;
    z-index: 10;
}